---
layout: default
title: Crankshaft = Raspberry Pi 💖 Android Auto
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<div class="maintitle">Raspberry Pi 💖 Android Auto</div>
				<p>Crankshaft is a turnkey solution for the Raspberry Pi that transforms it to an Android Auto head unit for your car. Android will display your apps on the gorgeous 7-inch screen and gives you a car-optimized interface. Crankshaft helps you to drive distraction-free!<br />
					It is designed to be an easy, fun and affordable project you can finish in a weekend morning.</p>
				<p>Some (outdated) demos: <a href="https://photos.google.com/share/AF1QipP3hcflM2fty5ziB_yuFl1_4hJL2r1LlWdvdUgCROp0DqsgiTJgm5lJUoDY6aO5aA/photo/AF1QipP1fOBkbERhqqrxH7asmEPUr9bvUilW8-RpQnbI?key=SmkydlU1eVFEb20xOHFJX0ZZUk9KY3NGR2dlcVhB" target="_blank">In-car</a>, <a href="https://youtu.be/tFEpfuDBDjM" target="_blank">Features</a>.</p>
				<p class="subtitle">Latest version: NG Alpha-7.4 - Released 2021-09-22.<br />
					<a href="https://tooomm.github.io/github-release-stats/?username=opencardev&repository=crankshaft" target="_blank">Download stats</a> <!--<br /><a href="https://www.reddit.com/r/crankshaft/comments/8agvly/_/" target="_blank">Read the release announcement</a>--></p>
				<div class="button">
					<a href="https://github.com/opencardev/crankshaft/wiki/Getting-started-with-Crankshaft" target="_blank">Get started</a> <a href="https://github.com/opencardev/crankshaft/releases" target="_blank">Download Crankshaft</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/crankshaft1.jpg" alt="Crankshaft Open Auto GNU/Linux - Open source Android Auto for your old car!">
		</div>
	</div>
</header>

<div class="container">
	<h3 class="editable" style="text-align: center;">Why crankshaft?</h3>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Friendly &amp; Fun</h3>
			<p class="editable">A base install should "just work" out of the box without complicated tweakings.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Free Software</h3>
			<p class="editable">Crankshaft <a href="https://github.com/opencardev/crankshaft/blob/master/SOCIAL-CONTRACT.md" target="_blank">respects your freedom</a> as guaranteed by the GPLv3, powered by <a href="https://github.com/f1xpl/openauto" target="_blank">OpenAuto</a>. <a href="https://github.com/opencardev/crankshaft" href="_blank">Sourcecode</a>.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Powerful</h3>
			<p class="editable">Crankshaft makes it easy for you to <a href="https://github.com/opencardev/crankshaft/wiki/Customizing-Crankshaft" target="_blank">customize</a> and <a href="https://github.com/opencardev/crankshaft/wiki/Crankshaft-dev-mode" target="_blank">develop</a> on it.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="/images/crankshaft2.jpg" alt="Not a sheep either">
		</div>
		<div>
			<h2 class="editable">Can I trust it to work?</h2>

			<p class="editable">It is alpha-level software, so no. It's not an official or even related to or certified by Google or Android. It's totally a hobby. But we hope you give it a try and have fun with it when it's safe to do so.</p>
			<p class="editable">If you're a developer who is able to compile software on Linux, you can try to follow <a href="https://github.com/f1xpl/openauto" target="_blank">OpenAuto</a>'s instructions even when Crankshaft doesn't work on your custom hardware.</p>
			<p>
				<a href="https://github.com/opencardev/crankshaft/issues/2" target="_blank">Phones/Hardware compatibility list</a><br />
			</p>

		</div>
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Bugs? Ideas? Want to help?<br />
			<a href="https://www.reddit.com/r/crankshaft/">Join the subreddit!</a><br />
			<a href="https://github.com/opencardev/crankshaft/issues">Report problems</a> (<a href="https://github.com/opencardev/crankshaft#want-to-report-a-problem" target="_blank">How to debug</a>) <br />
			<!--<a href="https://gitter.im/openauto_androidauto/Lobby">Join the conversation at gitter</a><br />
	   Or <a href="mailto:webreg@tnhh.net">send the maintainer an email</a>--></p>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Support us</h2>
	<div class="donate">
		If you enjoy OpenAuto, please consider <a href="https://bluewavestudio.io/index.php/bluewave-shop" target="_blank">shopping at BlueWave Studio</a>.<br />
		<br />
		Check out a similar kickass Free software project: <a href="http://headunit.viktorgino.me/" target="_blank">Headunit Desktop - comprehensive car PC software</a>.</p>
	</div>
</div>
<!--
<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">I... the royal we, you know, the editorial...</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="http://www.tnhh.net/images/bio-photo.jpg" alt="Wooly"></span>
				<span class="author editable"><strong><a href="https://tnhh.net/">Huan Truong</a></strong>, sole maintainer.</span>
			</p>
		</div>
	</blockquote>
</div>
-->
