---
layout: default
title: Crankshaft = Raspberry Pi 💖 Android Auto
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<div class="maintitle">raspberry pi 💖 android auto</div>
				<p>Crankshaft is a turn-key GNU/Linux distribution for the Raspberry Pi that transforms it to an Android Auto headunit. Android then displays your apps on the big, gorgeous 7 inches screen of the RPi and gives you a car-optimized interface and experience so you can drive distraction-free. No more fumbling with the phone's small screen!<br />All you need is a RPi3 board and <a href="https://www.raspberrypi.org/products/raspberry-pi-touch-display/">its official 7" touchscreen</a>.</p><p><a href="https://youtu.be/oq1TR78kpL4" target="_blank">Driving demo</a>, <a href="https://youtu.be/tFEpfuDBDjM" target="_blank">Features demo</a>.</p>
				<p class="subtitle">Latest version: Alpha 0.1.5 - Released 2018/03/02</p>
				<div class="button">
					<a href="https://github.com/htruong/crankshaft/releases" target="_blank">Get it now</a> <a href="https://github.com/htruong/crankshaft" target="_blank">View Sourcecode</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/crankshaft1.jpg" alt="Not a sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Crankshaft at a glance</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Free Software</h3>
			<p class="editable">Crankshaft is a distribution based on <a href="https://github.com/f1xpl/openauto" target="_blank">OpenAuto</a> and <a href="https://github.com/f1xpl/aasdk" target="_blank">aasdk</a>. All components of Crankshaft are licensed under the GPLv3.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Fun &amp; Likeable</h3>
			<p class="editable">It should "just works." We want to create something we'd want to use ourselves and be proud of.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Easy</h3>
			<p class="editable">No manual needed. <a href="https://thepihut.com/blogs/raspberry-pi-tutorials/45295044-raspberry-pi-7-touch-screen-assembly-guide" target="_blank">Assemble the hardware</a>. Download &amp; unzip the image. Write it to an SDcard. Start. Plug phone in.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="/images/crankshaft2.jpg" alt="Not a sheep either">
		</div>
		<div>
			<h2 class="editable">Can I trust it to work?</h2>

			<p class="editable">It is alpha-level software, so of course not. But we hope you give it a try when it's safe to do so: Please don't drive and fumble with the toy. But we really hope you try and have fun with it. One day we will have a free software that you can trust that works the way you want, displays the information you want, and <em>does only that</em>.</p>
			<p><a href="https://github.com/htruong/crankshaft/issues/2" target="_blank">Phones/Hardware compatibility list</a><br />
				<a href="https://photos.app.goo.gl/81hQ6wTuLFNGmRHh2" target="_blank">Add your glamorous pictures</a></p>
		</div>
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Bugs? Ideas? Want to help? Think this page sucks? We think so too. Help us.<br />
			<a href="https://github.com/htruong/crankshaft/issues">Report problems</a> (<a href="https://github.com/htruong/crankshaft#want-to-report-a-problem" target="_blank">How to debug</a>) <br />
			<a href="https://gitter.im/openauto_androidauto/Lobby">Join the conversation at gitter</a><br />
			Or <a href="mailto:webreg@tnhh.net">send the maintainer an email</a></p>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Support us</h2>
	<div class="donate">
		If you enjoy OpenAuto, please consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R4HXE5ESDR4U4" target="_blank">donating to f1xpl</a> so he can further develop the core software.<br />
		<br />
		<strong>Plug</strong>: Know someone who is looking for passionate software engineers? <a href="mailto:webreg@tnhh.net">Feel free to let Huan know</a>.
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">I... the royal we, you know, the editorial...</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="http://www.tnhh.net/images/bio-photo.jpg" alt="Wooly"></span>
				<span class="author editable"><strong><a href="https://tnhh.net/">Huan Truong</a></strong>, sole maintainer.</span>
			</p>
		</div>
	</blockquote>
</div>

